/*
    Document   : MainStyle．css
    Created on : 2014-08-06 03:45 PM
    Author     : filfat
    Description:
    Style for the main website, excluding app list, etc.
*/

.bg{
width:100%;
    height:100%;
    position: absolute;
    background-image:url('http://wiiudaily.com/wp-content/uploads/2012/05/wii-u-wallpaper-5.jpg?af4e70') fixed;
    background-size:cover;
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -ms-filter: blur(4px);
    -o-filter: blur(4px);
    filter: blur(4px);
 }
body{
	background: url(http://wiiudaily.com/wp-content/uploads/2012/05/wii-u-wallpaper-5.jpg?af4e70) fixed repeat;
	-webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	font: 24px/20px 'Open Sans', sans-serif;
	font-weight: 300;
	height: 99%;
}
h1, h3{
	color: white;
}
.Content h3{
	line-height: 35px;
}
.Content{
	width: 90%;
	height: auto;
	margin: 0 auto;
	background-color: #3EAF3E;
	text-align: center;
	vertical-align: middle;
	line-height: 60px;
	border:0px solid;
	border-radius:5px;
	
}
.About{
	width: 90%;
	height: auto;
	margin: 0 auto;
	background-color: #3EAF3E;
	text-align: center;
	vertical-align: middle;
	line-height: 60px;
	border:0px solid;
	border-radius:5px;
}
.About h4, .Content h4{
	font-weight: 300;
	color: white;
}
header{
	width: 90%;
	margin: 0 auto;
	background-color: #3EAF3E;
	text-align: left;
	vertical-align: middle;
	min-height: 76px;
	height: auto;
	line-height: 76px;
	border:0px solid;
	border-radius:5px;
	margin-top:25px;
}
header h1{
	margin-left: 15px;
	font-weight: 300;
}
footer{
	min-height: 45px;
	line-height: 45px;
	width: 90%;
	margin: 0 auto;
	text-align: left;
	vertical-align: middle;
	background-color: #3EAF3E;
	color: white;
	border:0px solid;
	border-radius:5px;
	margin-bottom: 5px;
}
footer h6{
	margin-left: 15px;
	font-weight: 400;
}
.Content a{

	margin: 0 auto;
	position: relative;
	width: 270px;
	display: block;
	line-height: 48px;
	font-size: 26px;
	color: white;
	text-align: center;
	text-decoration: none;
	font-weight: 300;
	text-shadow: 0 1px rgba(0, 0, 0, 0.1);
	background: #1ba1e2;
	border-bottom: 2px solid black;
	border-color: rgba(0, 0, 0, 0.15);
	border-radius:5px;
}
.Content a:active{
	border-bottom: 0px solid black;
}
.Content a:hover{
    background: #1B2FE2;
}
nav{
	width: 90%;
	margin: 0 auto;
	background-color: #3EAF3E;
	text-align: left;
	vertical-align: middle;
	min-height: 60px;
	height: auto;
	font-size: 25px;
	font-weight: 400;
	line-height: 60px;
	border-radius:5px;
	margin-bottom: 45px;
	margin-top: 32px;
}
nav a{
	color: white;
	margin-left: 15px;
	display: in-block;
	background: #1ba1e2;
	border-radius:5px;
	padding: 0 10px; 
	border-bottom: 2px solid black;
	border-color: rgba(0, 0, 0, 0.15);
	text-decoration: none;
}
nav .selected{
	background: #0E67C7;
}

nav a:active{
	border-bottom: 0px solid black;
}

iframe{
    border: 0px;
    width: 100%;
    border:0px solid;
	border-radius:5px;
    overflow: hidden;
}