<head>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
    <link href="CSS/MainStyle.css" rel="stylesheet" />
	<meta charset="UTF-8">
	<meta name="description" content="Wii U Webkit Exploit">
	<meta name="keywords" content="Wii U, Homebrew, Wii U Hack, Wii Hack, Wii U Homebrew">
	<meta name="author" content="Filiph Sandström">
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Expires" content="0" />
</head>
<body style="background: #3EAF3E; max-height: 38px; color: white;">
    <h6 style="background: #3EAF3E;color: white;">Website created by <a href="http://filfatstudios.com">Filiph Sandstr&ouml;m</a>; <a href="http://gbatemp.net/threads/wii-u-hacking-discussion.367489/">GBATemp Topic</a>; <a href="https://bitbucket.org/Marionumber1/wiiu-userspace">BitBucket</a>;</h6>
    Views: <img src="http://hitwebcounter.com/counter/counter.php?page=5762420&style=0007&nbdigits=9&type=page&initCount=0" title="number of visits track" Alt="number of visits track"   border="0" >
</body>